@import 'fonts'
@import 'vars'

body
	margin: 0
	padding: 0
	min-width: 320px
	overflow-x: hidden
	font-family: 'Roboto', sans-serif
	font-size: 16px
	position: relative
	background: #F2F2F2

header
	width: 100%

a:focus, a:hover
	text-decoration: none

.top-line
	background: $top-line-bg
	height: 56px
	width: 100%
	border-bottom: 1px solid $top-line-border-bottom

.logo
	font-size: 23px
	text-transform: uppercase
	color: #fff
	margin-left: 37px
	font-weight: 300
	white-space: nowrap

.logo-min
	font-size: 23px
	text-transform: uppercase
	color: #fff
	margin-left: 10px
	font-weight: 300
	white-space: nowrap
	display: none

.search
	height: 35px
	width: 100%
	min-width: 170px
	position: relative
	background: #fff
	margin: 0 150px
	&__input
		width: calc(100% - 90px)
		height: 100%
		position: absolute
		top: 0
		left: 55px
		outline: none
		border: none
	&__map
		position: absolute
		top: 7px
		left: 12px
		color: $map
		font-size: 24px
	&__down
		position: absolute
		top: 10px
		left: 33px
		font-size: 18px
		color: $down
	&__loupe
		position: absolute
		top: 0
		right: 4px
		font-size: 14px
		color: $loupe
		height: 100%
		display: block
		padding: 0 10px
		i
			line-height: 35px

.account
	height: 56px
	width: 150px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.bell
	position: relative
	color: $bell
	font-size: 20px
	width: 50px
	height: 56px
	padding-top: 19px
	&__notice
		position: absolute
		top: 10px
		left: 16px
		width: 15px
		height: 18px
		background: #FF0000
		border: 1px solid #FF0000
		border-radius: 5px
		color: #fff
		span
			position: absolute
			top: -2px
			left: 2px
			font-size: 14px

.profile
	width: 70px
	height: 56px
	padding-top: 5px
	img
		margin-top: 4px
		width: 100%
		height: auto

.image
	background: url('../img/header-bg.jpg') top center no-repeat
	background-size: cover
	width: 100%
	height: 500px
	position: relative
	&__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: #000
		background: linear-gradient(transparent 10%, #000 60%)
		opacity: .75

.content
	position: absolute
	top: 340px
	left: 0
	z-index: 2
	min-width: calc(100vw - 1%)
	&__overlay
		background: #F2F2F2
		width: 100%
		height: calc(100% - 200px)
		position: absolute
		top: 200px
		left: 0
		min-width: 100vw

.english, .course
	font-size: 40px
	color: #fff
	line-height: 23px

.english
	&__title
		padding-left: 50px
		i
			margin-right: 23px
			font-size: 28px
	.slogan
		padding-left: 100px

.slogan
	font-size: 14px
	color: #fff
	margin-bottom: 40px
	margin-top: 15px

.accordion
	background: #F2F2F2
	.card
		margin-bottom: 20px
		box-shadow: -2px 2px 1px #ccc
		border: none
	&__link
		color: #000
		font-weight: bold
		font-size: 26px
		&:focus, &:hover
			color: #000
			text-decoration: none
	.card-header
		background: #fff
		padding-top: 45px
		padding-bottom: 45px
		border: none
		position: relative
		.fa-graduation-cap
			font-size: 26px
			padding: 0 24px 0 13px
			color: #303030
		.fa-angle-down
			position: absolute
			top: 57px
			right: 45px
			color: #303030
	.card-body
		padding: 0 90px 95px 105px
		border: none

.card
	position: relative
	&__star
		color: $card-i
		font-size: 26px
		position: absolute
		top: 11px
		right: 24px
	&-img
		width: calc(100% - 24px)
		margin: 49px auto 20px
		&_shadow
			box-shadow: 0 15px 20px #ccc
	&__name
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&-title
		color: #000
		padding-left: 12px
		padding-right: 12px 
	&__check
		color: $card-i
		font-size: 26px
		padding-left: 23px
	&-text
		padding: 0 23px 23px
		color: $card-text
		font-size: 18px
		opacity: .8
	&__line
		background: #D1D1D1
		width: calc(100% - 26px)
		height: 1px
		margin: 0 auto 18px
	&__location
		position: relative
	&__map
		color: $card-location
		position: absolute
		top: 0
		left: 26px
		font-size: 26px
	&__country
		color: #737373
		margin-left: 52px
		font-size: 14px
	&__city
		color: #737373
		margin-left: 52px
		margin-bottom: 24px
		font-size: 14px
	&__logo
		width: 83px
		height: 83px
		position: absolute
		z-index: 2
		top: -15px
		left: 22px
		background: #fff
		border: 1px solid #fff transparent
		border-radius: 3px
		box-sizing: border-box
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .1), -5px -5px 10px rgba(0, 0, 0, .1)
		img
			margin: 13px auto
			display: block
			z-index: 3
	&__country-city
		color: #737373
		margin-left: 52px
		font-size: 14px
		display: none

.carousel
	position: relative
	z-index: 3
	margin-top: 450px
	&__title
		margin-left: 30px
		color: #000
	.card__logo
		img
			width: 75%

.owl-carousel .owl-item .card-img
	width: calc(100% - 24px)

.owl-item
	padding-top: 30px

.owl-dots
	display: none

@import 'media'